.item {
  padding: 24px 12px;
  border-bottom: 1px solid #ebedef;
}

@media (max-width: 768px) {
  .item {
    padding: 12px 0;
  }
}

.info {
  display: flex;
}

.value {
  display: blocks;
}

.title {
  display: block;
}
.section {
  padding: 10px 10px 10px 0;
}
.smallLink {
  font-size: 15px;
  margin-right: 15px;
  display: inline-block;
}

.link {
  word-break: break-all;
  display: inline-block;
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
