.item {
  padding: 24px 0;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebedef;
}

.info {
  display: flex;
}

.value {
  display: blocks;
}

.title{
    display: block;
}
.section{
    padding:10px 10px 10px 0;
}
.smallLink{
    font-size: 15px;
    padding:7px;
    margin:0 15px;
    display: inline-block;
}