.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: aliceblue;
  padding: 30px 0;
  text-align: center;
}

.footer {
  background-color: aliceblue;
  padding: 30px 0;
  text-align: center;
}

a{
  font-size: 22px;
  color: blue;
  text-decoration: none;
  font-weight: 500;
}

label{
  color: gray;
}
