.list {
  padding: 36px 15px;
}

@media (max-width: 768px) {
  .list {
    padding: 0 0 12px 0;
  }
}

.title {
  padding: 25px 0;
}

@media (max-width: 768px) {
  .title {
    padding: 10px 0;
  }
}

.container {
  height: 400px;
  overflow: auto;
}

@media (max-width: 768px) {
  .container {
    height: 200px;
  }
}

.loading {
  padding: 10px;
  text-align: center;
  min-height: 50px;
}
